#bodyForm {
}
#data-list {
	height: 400px;
	overflow: auto;
}
.QRModal {
	display: flex;
	background-color: aqua;
	justify-content: center;
	align-content: center;
}

.QRModalContent.modal-dialog {
	width: 335px;
	height: 90%;
}

.QRModalContent .modal-content {
	top: 50%;
	margin-top: -150px;
}
